h1 {  	
	color: #87dfd6;
	text-align: center;
	font-family: 'Farsan', cursive;
	font-size: 60px;
	background-color: #33425b;

}





.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
} 

body {background-color: #33425b;
}
.parallax { 
    /* The image used */
    background-image: url("Dog.jpg");

    /* Set a specific height */
     height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}